.container {
    display: flex;
    gap: 2rem
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imageContainer {
    position: relative;
    flex: 1;
}

.heroImg {
    object-fit: contain;
}

.brands {
    position: relative;
    width: 500px;
    height: 50px;
    filter: grayscale(1);
}

.title {
    font-size: 5rem;
}

.desc {
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.button {
    padding: 1rem 4rem;
    min-width: 7rem;
    cursor: pointer;
    border: none;
    border-radius: .2rem;
}

.button:first-child {
    background-color: var(--btn);
    color: var(--text);
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        justify-content: center;
        align-items: center;
    }

    .title {
        flex-direction: column;
        font-size: 3rem;
    }
    
    .brands {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3rem;
    }

    .container {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .brands {
        width: 100%;
        display: flex;
        align-items: center;
    }
}